img, embed, object, video {
  max-width: 100%;
}

.hidden {
  display: none;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.3;
  color: #fafafa;
  margin: 0;
  background-color: #121212;
}

.p-reg {
  color: #FFE81F;
  font-weight: 300;
}

ul, li, a {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.movie-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}

.year {
  font-size: 15px;
  color: #FFE81F;
}

.info .p-reg {
  margin-bottom: 10px;
}

header {
  border-bottom: 1px solid #fafafa;
  height: 70px;
}

.header-div {
  height: 100%;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.names-ul li {
  padding: 10px;
  transition: all 0.4s ease-out;
}

.names-ul li:hover {
  background-color: #FFE81F;
  color: #121212;
  font-weight: 600;
  transition: all 0.4s ease-out;
}

footer {
  margin: 30px 0px;
  border-top: 1px solid #FFE81F;
  height: 50px;
}

#footer-div .p-reg {
  text-align: center;
  margin-top: 30px;
}

#footer-div .header-logo {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* CSS Document */
.welcome {
  margin-top: 50px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#welcome-logo {
  margin-bottom: 30px;
}

#welcome-desc {
  margin-top: 20px;
  border-bottom: 1px solid #FFE81F;
  padding-bottom: 20px;
}

.welcome-text-wicon {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 20px;
}

.arrow-icon {
  width: 30px;
  margin: 10px 0px;
}

#scroll {
  width: 100%;
}

.info {
  margin-top: 50px;
}