@use '../abstracts/' as a;

.p-reg {
    color: a.$main-color;
    font-weight: 300;
}

ul, li, a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.movie-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}

.name-title {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    color: a.$main-color;
}

.year {
    font-size: 15px;
    color: a.$main-color;
    margin-left: 10px;
}

.info .p-reg {
    margin-bottom: 10px;
}