@charset "UTF-8";
@use '../abstracts/' as a;
/* CSS Document */

.welcome {
	margin-top: 50px;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#welcome-logo {
	margin-bottom: 30px;
}
#welcome-desc {
	margin-top: 20px;
	border-bottom: 1px solid a.$main-color;
	padding-bottom: 20px;
}

.welcome-text-wicon {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-top: 20px;
}

.arrow-icon {
	width: 30px;
	margin: 10px 0px;
}

#scroll {
	width: 100%;
}

.info {
	margin-top: 50px;
}
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1200px) {

	

}
