@charset "UTF-8";
@use '../abstracts/' as a;
/* CSS Document */

.welcome {
	margin-top: 50px;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#welcome-logo {
	margin-bottom: 30px;
}
#welcome-desc {
	margin-top: 20px;
	border-bottom: 1px solid a.$main-color;
	padding-bottom: 20px;
}

.welcome-text-wicon {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-top: 20px;
}

.arrow-icon {
	width: 30px;
	margin: 10px 0px;
}

#scroll {
	width: 100%;
}

.info {
	margin-top: 50px;
	border: 1px solid a.$main-color;
	padding: 0px 20px 20px 20px;
}
@media screen and (min-width: 768px) {
	.welcome-text-wicon {
		margin: 0;
		align-items: end;
	}
	.welcome-text-wicon .p-reg {
		text-align: right;
	}

}

@media screen and (min-width: 1200px) {
	.welcome {
		margin-top: 500px;
	}
	
	.selection {
		margin-top: 100px;
	}

	.info {
		display: flex;
		justify-content: space-evenly;
		margin: 0;
	}

	.info-div {
		width: 50%;
	}

	.poster {
		width: 50%;
		display: flex;
		justify-content: flex-end;
		padding-top: 20px;
	}

}
